div{
    width: 70%;
    background-position: 0px;
}
#eXAMPLE{
    width: 80%;
    color: red;
    border-style: ridge;
    text-align: center;
}
p{
    width: 140;
    text-decoration: dashed;
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: aqua;
}
img{
    text-decoration: underline;
}